.field-error {
  color: #f74528;
}
.color-overlay{
  background:rgba(131,131,131,.4);
}
.service-card , .single-service , .form{
  background-color: #00699b3b;
}
.contact-img{
  background: url(images/default-header-img.jpg);
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer{
  background:linear-gradient(#ffffffa8,#006595e8),url(images/hospital-barandha.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* Media Query  */
@media only screen and (max-width: 600px) {
  .hero-text{
    font-size: 26px;
    width: 100%;
  }
  .hero-serv{
    flex-direction: column;
    margin-top: 100px;
  }
  /* .contact-img{
    height: 0px;
  } */
}